body{
    min-height: 300vh;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}