body{
    background: #2362cc;
}

.todolist{
    width: fit-content;
    margin: 0 auto;
    padding: 20px ;
    background: white;
    border-radius: 30px;
    margin-top: 50px;
}

.todo-item{
    display: flex;
    align-items: center;
    background: #c5e1e5;
    margin-top: 6px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 40px;
}

.title{
    flex: 1;
}

.todo-item button{
    background: red;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}